<%- include("partials/header") -%>
<div class="container-fluid" id="cont1">
  <div class="row" style="padding-top: 30px">
    <div class="col-md-6" style="padding-top: min(3%, 50px)">
      <h1 class="heading3">About Us</h1>
    </div>
    <div class="col-md-6" style="text-align: center">
      <img src="images/about1.png" alt="" style="width: 60%" />
    </div>
  </div>
</div>
<div class="container" id="cont2">
  <div class="row" id="cont21">
    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="images/one.jpg" class="cardimg" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">About</h5>
              <p class="card-text">
                This is a responsive web application which is user friendly, used to know the weather status. 
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="images/two.jpg" alt="..." class="cardimg" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Objective</h5>
              <p class="card-text">
                This web app is to tell the users the temperature and weather status of the city which they want to know. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="cont22">
    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="images/three.jpg" alt="..." class="cardimg" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Inputs</h5>
              <p class="card-text">
                User has to just type a valid city name whose live weather status he wants to know. The user will not get the result of an invalid city name. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="images/four.jpg" alt="..." class="cardimg" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Results</h5>
              <p class="card-text">
                The user will get the live temperature of the city and and the current weather status of that place mainly clear, cloudy, haze and rain.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
